footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2em;
    border-top: 2px solid var(--primary-color)
}

canvas:hover {
    cursor: grab;
}

#graphicsLeft {
    display: flex;
    margin-left: 20px;
}

#graphicsLeft>a>img {
    width: 40px;
}

@media screen and (max-width:500px) {
    footer{
        flex-direction: column;
    }
    footer>p{
        width: 100%;
    }
}


