@import"sharedstyles.css";

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--header-color-primary);
    width: 30%;
}

h3 {
    color: var(--header-color-primary);
}

#homemain {
    display: flex;
    margin: 2em;
    padding: 2em;
    flex-direction: column;

}

#intro-section {
    display: flex;
    gap: 60px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;

}

#introDesc{
    display: flex;
    flex-direction: column;
}

#moreDetails{
    display: flex;
    gap: 60px;
    align-items: center;
}
#moreDetails>.descBlock>h3{
    margin-bottom: 10px;
}

#moreDetails>.descBlock>p{
    margin: 0;
}
.separator{
    border: 1px rgb(126, 123, 123) solid;
    height: 80%;
}
#frogprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#frogprofile>p{
    align-self: center;
}


#Projects {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding:2em;
}
.projecttemplate{
    background-color: rgba(40, 128, 113, .2);
    border-radius: 30px;
    height: 400px;
    background-position: center;
    padding: 2em 4em;
}
.projecttemplate:hover{
    cursor: pointer;
}
#boozallenproject{
    background-image: url(Images/BoozAllenLogo.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#xdappproject{
    
    background-image: url(Images/X&D\ Advisor\ Hub\ App.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#jargonproject{
    background-image: url(Images/JargonCover.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}
#onboardingproject{
    background-image: url(Images/OnboardingFlowcutfile-ezgif.com-crop.gif);
    background-size: 90%;
    background-repeat: no-repeat;

}
#datagenproject{
    background-image: url(Images/Dummy\ Data\ Generator.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#scannerproject{
    background-image: url(Images/Prototype\ Scanner.gif);
    background-size: 90%;
    background-repeat: no-repeat;

}
#reach4helpproject{
    background-image: url(Images/Reach4HelpProjectCover.svg);
    background-size:40%;
    background-position: center;
    background-repeat: no-repeat;
}

#Projects>h3 {
    color: var(--header-color-primary);
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;


}

.project {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    gap: 20px;
}


.tools {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.project>img {
    width: 50%;
    max-height: 100%;

}


#aboutme{
    display: flex;
    margin-bottom:30px;
     border-top:rgba(40, 128, 113, .2) 2px solid;
    border-bottom:rgba(40, 128, 113, .2) 2px solid;
    padding:2em;
}
#aboutmeDesc{
    display: column;
}

#contactMe{
    border-bottom:rgba(40, 128, 113, .2) 2px solid;
    padding:2em;
}

#contactMe>a{
    text-decoration: underline;
    color: #0071bc;
    font-style: italic;
}

#port{
    padding: 2em;
}


@media  screen and (max-width:1500px) {
    .project-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:1000px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:600px) {
    #Projects {
        width: auto;
        padding: 0px;
    }

    .project {
        flex-direction: column;
    }

    #homemain {
        flex-direction: column;
        margin: 0px;
        padding:0px
    }

    #intro-section {
      display: block;
    }

    #aboutme{
        display: block;
    }

    .projectdescription {
        width: 100%;
    }
}