@import"sharedstyles.css";

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--header-color-primary);
}

h3 {
    color: var(--header-color-primary);
}

#homemain {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

#intro-section {
    display: flex;
    gap: 60px;
    margin-bottom: 30px;
    border-radius: 5px;

}

#introDesc{
    display: flex;
    flex-direction: column;
}

#moreDetails{
    display: flex;
    gap: 60px;
    align-items: center;
}
#moreDetails>.descBlock>h3{
    margin-bottom: 10px;
}

#moreDetails>.descBlock>p{
    margin: 0;
}

#frogprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#frogprofile>p{
    align-self: center;
}


#Projects {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}
.projecttemplate{
    background-color: rgba(40, 128, 113, .2);
    border-radius: 30px;
    height: 400px;
    background-position: center;
    padding: 2em 4em;
}
.projecttemplate:hover{
    cursor: pointer;
}
#boozallenproject{
    background-image: url(Images/BoozAllenLogo.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#xdappproject{
    
    background-image: url(Images/X&D\ Advisor\ Hub\ App.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#jargonproject{
    background-image: url(Images/JargonCover.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}
#onboardingproject{
    background-image: url(Images/OnboardingFlowcutfile-ezgif.com-crop.gif);
    background-size: 90%;
    background-repeat: no-repeat;

}
#datagenproject{
    background-image: url(Images/Dummy\ Data\ Generator.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#scannerproject{
    background-image: url(Images/Prototype\ Scanner.gif);
    background-size: 90%;
    background-repeat: no-repeat;

}
#reach4helpproject{
    background-image: url(Images/Reach4HelpProjectCover.svg);
    background-size:40%;
    background-position: center;
    background-repeat: no-repeat;
}

#Projects>h3 {
    color: var(--header-color-primary);
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;


}

.project {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    gap: 20px;
}


.tools {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.project>img {
    width: 50%;
    max-height: 100%;

}


#aboutme{
    display: flex;
    margin-bottom:30px;
     border-top:rgba(40, 128, 113, .2) 2px solid;
    /*border-bottom:rgba(40, 128, 113, .2) 2px solid;*/
    padding:2em;
}
#aboutmeDesc{
    display: column;
}



#aboutme>#aboutmeDesc>a{
    text-decoration: underline;
    color: #0071bc;
    font-style: italic;
}
#aboutmegraphicsMain{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.imgframe{
    box-shadow: 10px 10px 10px gray,
    -5px 0 5px gray;
    padding: 1em;
    background-color: white;
}
.imgframe>h3{
    justify-self: center;
    font-family: 'Permanent-Marker', Tahoma, Geneva, Verdana, sans-serif;
}
#aboutmegraphicsMain>.imgframe>img{
width: 300px;
height: 300px;
}
#port{
    padding: 2em;
}

/*media queries*/

@media  screen and (max-width:1500px) {
    .project-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:1000px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:600px) {
    video{
        width: 80vw;
    }
    #Projects {
        width: auto;
        padding: 0px;
    }

    .project {
        flex-direction: column;
    }

    #homemain {
        flex-direction: column;
    }
    .separator{
        display: none;
    }
    #intro-section,#introDesc,
    #moreDetails {
      display: block;
      justify-self: center;
    }
    #introDesc>h1{
        justify-self: center;
    }
       #introDesc>p{
        justify-self: center;
    }

    #aboutme{
        display: block;
    }
    #aboutmegraphicsMain{
        flex-direction: column;
    }
   
    #aboutmegraphicsMain>.imgframe>img{
        width: 100%;
    }


    .projectdescription {
        width: 100%;
    }
}