@import"sharedstyles.css";

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--header-color-primary);
    width: 30%;
}

h3 {
    color: var(--header-color-primary);
}

.contactinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.contactinfo>a {
    padding-right: 0;
}

.contactinfo>h3 {
    color: var(--header-color-secondary);
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contacts>a {
    padding-right: 0px;
}

.projectsubheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#line {
    border-top: var(--border-color) solid 2px;
    width: 100%;
    height: 1px;
}


#homemain {
    display: flex;
    margin: 2em;
    padding: 2em;
    flex-direction: column;
    background-color: rgba(183, 223, 216, 0.2);
}


#intro-section {
    display: flex;
    gap: 30px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;

}

#jobdesc{
    display: flex;
    width: 50%;
    flex-direction: column;
}

#downloadlink {
    text-decoration: none;
    padding-right: 0;
}




#resume {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    background-color: var(--button-bg-color-secondary);
    color: var(--button-text-primary);
    border: none;
    border-radius: 5px;
    padding: 10px;
    max-width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

#resume:hover {
    color: var(--button-text-hover);
    cursor: pointer;
}

.personalpic {
    display: flex;
    justify-content: center;
    width: 100%;
}

.personalpic>img {
    width: 50%;
    border-radius: 500px;
}

#port{
    background-color: white;
    padding: 0em 2em;
}

#Projects {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding:2em;
}
.projecttemplate{
    background-color: rgba(40, 128, 113, .2);
    border-radius: 30px;
    height: 400px;
    background-position: center;
    padding: 2em 4em;
}
.projecttemplate:hover{
    cursor: pointer;
}
#boozallenproject{
    background-image: url(Images/BoozAllenLogo.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#xdappproject{
    
    background-image: url(Images/X&D\ Advisor\ Hub\ App.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#jargonproject{
    background-image: url(Images/Jargon\ Cover\ Image.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#onboardingproject{
    background-image: url(Images/OnboardingFlowcutfile-ezgif.com-crop.gif);
    background-size: 90%;
    background-repeat: no-repeat;

}
#datagenproject{
    background-image: url(Images/Dummy\ Data\ Generator.svg);
    background-size: 90%;
    background-repeat: no-repeat;

}
#scannerproject{
    background-image: url(Images/Prototype\ Scanner.gif);
    background-size: 90%;
    background-repeat: no-repeat;

}
#reach4helpproject{
    background-image: url(Images/Reach4HelpProjectCover.svg);
    background-size:50%;
    background-position: 50%;
    background-repeat: no-repeat;
}

#Projects>h3 {
    color: var(--header-color-primary);
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;


}

.project {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    gap: 20px;
}


.tools {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.project>img {
    width: 50%;
    max-height: 100%;

}

.casestudybutton {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-secondary);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.casestudybutton:hover {
    background-color: var(--button-text-hover);
    cursor: pointer;
}


@media screen and (max-width:900px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:600px) {
    #Projects {
        width: auto;
        padding: 0px;
    }

    .project {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    #intro-section {
        flex-direction: row;
        width: auto;
    }

    .projectdescription {
        width: 100%;
    }
}