#paperwires{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow:clip;
    width: 100%;
    background-color: rgba(0,0, 0, 0.3);
    border-radius: 10px;
    align-items: center;
}
#paperwires>img{
    width: 70%;
    padding: 20px;
}
#personas{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#roundone{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#mobileapp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
#mobileapp>img{
    width: 100%;
}

#externalsite{
    text-decoration: underline;
    color: blue;
}
#externalsite:visited{
    text-decoration: underline;
    color: purple;
}

.pixel{
    font-family: 'Pixelify-SemiBold',Tahoma,Geneva,Verdana,sans-serif;
}

.asidewrapper>nav>ul>li>a>h4{
    font-family: 'Pixelify-SemiBold',Tahoma,Geneva,Verdana,sans-serif;
}