main{
margin: 2em;
}


.plugin>img{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}
.plugin>p>a{
    text-decoration: underline;
    color: #0071bc;
}

@media screen and (max-width:900px){
 .plugin>img{
        width: 80%;
 }
}