:root{
    --border-color:#61b5af;
    --header-color-primary:#61b5af;
    --header-color-secondary:white;
    --body-text:black;
    --selected-tab:lightcoral;
    --hover-tab:black;
    --card-color:#61b5af;
    --button-text-primary:#61b5af;
    --button-text-secondary:white;
    --button-bg-color:#61b5af;
    --button-bg-color-secondary:white;
    --button-text-hover:#407874;
    
}

body{
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
    display: flex;
    justify-content: end;
    background-color: white;
    width:100%;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: overline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}




footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid lightcoral
}
