body{
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
    display: flex;
    justify-content: end;
    background-color: white;
    width:100%;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: overline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}


.mySelectedPage{
    text-decoration: overline;
    text-decoration-color: lightcoral;
    text-decoration-thickness: 3px;
}

main{
   display: flex;
}
#intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0px 30px;
    margin-bottom: 30px;
    width: 25%;
    background-color: #61b5af;
    color: white;
    border-radius: 5px;
}

.personalpic>img{
    width: 100%;
    border-radius: 500px;
}
 
#Projects{
    padding: 0px 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
#Projects>h3{
    color: #61b5af;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 20px;
   

}

.project{
 display: flex;
 flex-direction: row;
 height: 100%;
 box-shadow: 10px 10px 10px black;
}
.project>img{
    width: 100%;
    max-height: 100%;
}


footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid lightcoral
}