body{
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
    display: flex;
    justify-content: end;
    background-color: white;
    width:100%;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: overline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}


.mySelectedPage{
    text-decoration: overline;
    text-decoration-color: lightcoral;
    text-decoration-thickness: 3px;
}

main{
   display: flex;
}
#intro-section{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;
    width: 25%;
    background-color: #61b5af;
    color: white;
    border-radius: 5px;
    height: 100%;

}
#intro-section>div{
        display: flex;
        flex-direction: column;
        align-items: center;
}
#resume{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    background-color: white;
    color: #61b5af;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
}
#resume:hover{
    color:  #407874;
}

.personalpic>img{
    width: 100%;
    border-radius: 500px;
}

 
#Projects{
    padding: 0px 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

#Projects>h3{
    color: #61b5af;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: 1440px;
    gap: 30px;
   

}

.project{
 display: flex;
 flex-direction: row;
 height: 100%;
 background-color: rgb(216, 220, 224);
 align-items: center;
 padding: 10px;
}

.project>img{
    width: 65%;
    max-height: 100%;
}

.casestudybutton{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #61b5af;
    color: white;
    border: none;
    border-radius: 5px;
}

.casestudybutton:hover{
    background-color: #407874;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid lightcoral
}

@media screen and (max-width:900px){
    .project-container{
        grid-template-columns: 1fr;
    }
} 
@media screen and (max-width:600px){
    #Projects{
        width: auto;
        padding: 0px;
    }
    .project{
       flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    #intro-section{
        flex-direction: row;
        width: auto;
    }
    .personalpic>img{
        display: none;
    }
} 